html {
    zoom: 0.5;
    /* Adjust the value to change the zoom level that fit my web page */
}

body {
    padding: 20px;

    /* parallax Scrolling */
    background-image: url('assets/images/backgroundImage.jpg');
    /* Set a specific height */
    min-height: 500px;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}

#homeSection {
    text-align: center;
}

#reportsSection,
#aboutSection {
    display: none;
}

.nav-link {
    cursor: pointer;
}

/* I use here in advanced selector: */
#coinsContainer>.card {
    display: inline-block;
    overflow: hidden;
    margin: 40px;

}


.loadingGif {
    /* Resizes the loading gif: */
    height: 30px;
    width: 30px;

}

#searchRow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;

}

#search {
    display: inline-block;
    text-align: left;
}



.row {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    /* gap: 10px; */
    margin-top: 20px;
    /* Add margin to the top of the row */
    padding: 10px;
    /* Add padding around the row */
    background-color: yellow;
    border-radius: 25px;
    /* Add rounded corners to the row */
    box-shadow: 0 2px 4px rgba(0, 0, 5, 10);
    /* Add a box shadow to the row */
}


#aboutParagraph {
    color: white;
    font-size: 35px;
    background-color: rgba(255, 192, 203, 0.5);
    /* Pink color with 50% transparency */
}

#yogevImg {
    max-width: 15%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#homeSection {
    color: red;
}

#aboutSection,
#reportsSection {
    color: red;
    text-align: center;
}

#loadingGifContainer {
    background-color: rgba(255, 255, 255, 0.7);
    width: 30%;
    margin-left: auto;
    margin-right: auto;
}

#selectedCoinsListShowToUser {
    color: red;
    padding-left: 35px;
}

#errorLiveReports {
    color: red;

}

/* Use CSS3 media queries */
/* Adjust styles for screens smaller than 600px (mobile) */
@media only screen and (max-width: 600px) {
    body {
        padding: 10px;
        font-size: 14px;
    }

    .row {
        justify-content: center;
        margin-top: 10px;
        padding: 5px;
    }

    .col-md-8,
    .col-md-4 {
        width: 100%;
    }
}

/* Adjust styles for screens between 601px and 900px */
@media only screen and (min-width: 601px) and (max-width: 900px) {
    body {
        padding: 30px;
    }

    .row {
        gap: 10px;
        margin-top: 30px;
        padding: 20px;
    }
}

/* Adjust styles for screens between 901px and 1200px */
@media only screen and (min-width: 901px) and (max-width: 1200px) {
    body {
        padding: 40px;
        font-size: 13px;

    }

    .row {
        margin-top: 40px;
        padding: 30px;
    }
}

/* Adjust styles for screens larger than 1200px */
@media only screen and (min-width: 1201px) {
    body {
        padding: 50px;
        font-size: 16px;
    }

    .row {
        margin-top: 50px;
        padding: 40px;
    }
}

#currenciesTitle,
#reportsTitle,
#aboutTitle {
    background-color: rgba(255, 255, 255, 0.7);
    width: 13%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
}