
body {
    padding: 20px;
    background-image: url('assets/images/backgroundImage.jpg');


}

#homeSection{
    text-align: center;
}
#reportsSection,
#aboutSection {
    display: none;
}

.nav-link {
    cursor: pointer;
}

.card {
    display: inline-block;
    overflow: hidden;

}


.loadingGif {
    /* Resizes the loading gif: */
    height: 30px;
    width: 30px;

}

.search {

    text-align: right;

}